.camera-nav-header
{
    display:flex;
    justify-content: space-between;
    width:95%;
}

.camera-nav-bar-title
{
    font-size:1.35rem;
	margin:15px;
	transition:0.2s;
	color:var(--primary-white);
}
@media screen and (max-width:650px) {
    .camera-nav-header
    {
        width: 100%;
    }
    .camera-nav-bar-title
    {
        font-size: 1.05rem;
    }
}