.button
{
	cursor: pointer;
    border-radius: 25px;
    background: var(--primary-purple);
    color: var(--primary-white);
    font-size: 1.05rem;
    font-weight: bold;
    letter-spacing: .1rem;
    transition:transform 0.3s;
    padding: 2%;
    border: none;
    display:block;
    margin:10px auto;
}

.button:hover{
    transform:scale(1.1);
    
  }
  
.nav-button
{
	color: var(--primary-grey);
	background: var(--primary-purple);
	border: 2px solid var(--primary-grey);
	margin: auto 10px;
	padding: 10px;
	border-radius: 10px;
	cursor:pointer;
	transition:0.2s;
	width:max-content;
}

.nav-button:hover
{
	transform:scale(1.02);
	background:rgba(24, 3, 3, 0.1);
	border:2px solid var(--primary-white);
}

.nav-button:hover i
{
	transform:scale(1.05);
	color:var(--primary-white);
}

