.button
{
	cursor: pointer;
    border-radius: 20px;
    background: var(--primary-purple);
    color: var(--primary-white);
    font-size: 1.05rem;
    font-weight: bold;
    letter-spacing: .1rem;
    transition:transform ease-in 0.2s;
    padding: 10px;
    border: none;
    display:block;
    margin:10px auto;
}

.button:hover{
    transform:scale(1.1);
    
  }
  
.nav-button
{
	color: var(--primary-grey);
	background: var(--primary-purple);
	border: 2px solid var(--primary-grey);
	margin: auto 10px;
	padding: 10px;
	border-radius: 10px;
	cursor:pointer;
	transition:0.2s;
	width:max-content;
}

.nav-button:hover
{
	transform:scale(1.02);
	background:rgba(24, 3, 3, 0.1);
	border:2px solid var(--primary-white);
}

.nav-button:hover i
{
	transform:scale(1.05);
	color:var(--primary-white);
}

.alert-button
{
	color: var(--primary-white);
	background: var(--primary-purple);
	border:none;	
	padding:6px 12px;
	transition:transform ease-in 0.2s;
	font-size: 1.05rem;
	margin:5px;
	border-radius:4px;
	cursor:pointer;
}

.alert-button:hover
{
	transform:scale(1.08);
}

.table-button
{	
	display:block;
	margin:10px auto;
	padding:7px 10px;
	background:var(--primary-purple);
	color:white;
	font-weight: bold;
    letter-spacing: .1rem;
    transition:transform ease-in 0.1s;
    border: none;
    border-radius:5px;
    cursor:pointer;
}

.table-button:hover
{
	transform:scale(1.1);
}

.table-button:hover i
{
	transform:scale(1.05);
	color:var(--primary-white);
}

.close-video-button
{
	border:none;
	color:var(--primary-grey);
	background:inherit;
	padding:0;
	margin:0;
	width:fit-content;
	height:fit-content;
	cursor:pointer;
	transition:transform ease-in 0.1s;
}

.close-video-button i
{
	font-size:1.85rem;
}

.close-video-button:hover
{
	transform:scale(1.2);
}

.close-video-button:hover i
{
	color:#e36565;
}
