#settings-page-container
{
	margin:0px auto;
	display:flex;
}

#settings-nav-bar
{
	width:20%;
	background:#3e3d49;
	color:white;
	position:fixed;
	height:100%;
}

#settings-inner-components
{
	width:80%;
	margin:20px auto;
	margin-left:20%;
}
.setting-nav-link
{
	color:var(--primary-grey);
	text-decoration:none;
	padding:10px 20px;
	display:block;
	transition:0.2s;
}

.setting-nav-heading
{
	font-size:1.35rem;
	font-weight:450;
	margin:20px; 
}
.setting-nav-link:hover
{
	background:hsla(0,0%,100%,.1);
	text-shadow: 0 0 5px #000;
	color:var(--primary-white);
}
@media screen and (max-width: 900px) {

	#settings-inner-components
	{
		width:90%;
		margin-left:10%;
	}
}

@media screen and (max-width: 520px) {
	#settings-page-container
	{
		flex-direction:column;
	}
	#settings-nav-bar
	{
		position:unset;
		width:100%;
	}
	#settings-inner-components
	{
		width:100%;
		margin:0 auto;
	}
}
