#home-page
{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-evenly;
	background:var(--primary-dark);
	padding-top:80px;
}

.home-info
{
	color:var(--primary-white);
	font-weight:500;
	font-size:1.5rem;
	text-align:center;
}
@media screen and (max-width: 900px){
	#home-page
	{
		flex-direction:column;
		flex-wrap:nowrap;
		height:auto;
		
	}
}

@media screen and (max-width: 480px) {
	#home-page
	{
		flex-direction:column;
		height:auto;
	}
	
}
