#home-page
{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-evenly;
	background:var(--primary-dark);
	padding-top:80px;
}

.home-info
{
	color:var(--primary-white);
	font-weight:500;
	font-size:1.5rem;
	text-align:center;
}

.camera-video-feed,.canvas
{
  height: 560px;
  width: 720px;
}
.canvas{
  position: absolute;
}
.camera-video-feed-container
{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:540px) {
    .camera-video-feed-container
    {
      width: 100%;
    }
    .camera-video-feed
    {
      width: 95%;
      margin: 0 auto;
      display: block;
    }
}


@media screen and (max-width: 900px){
	#home-page
	{
		flex-direction:column;
		flex-wrap:nowrap;
		height:auto;
		
	}
}

@media screen and (max-width: 480px) {
	#home-page
	{
		flex-direction:column;
		height:auto;
	}
	
}
